.about-me-text {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 200;
  color: #fbfdff;
  font-style: normal;
  font-optical-sizing: auto;
  opacity: 0.8;
  text-shadow: 0 0 2px rgba(226, 228, 230, 0.4);
}
