body,
h1,
h2,
h3,
h4,
section,
.project,
.me {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #0d2226;
  background: linear-gradient(
    192deg,
    rgb(1, 14, 17) 0%,
    rgb(2, 48, 53) 16%,
    rgb(4, 52, 54) 33%,
    rgba(1, 38, 37, 0.88) 52%,
    rgb(2, 39, 35) 83%,
    rgb(2, 28, 27) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.info-section {
  margin: 6em 5em 0 18em;
}

.header {
  position: sticky;
  top: 0;
  height: 10%;
}

.link {
  margin-top: 1.5em;
  display: flex;
  gap: 1em;
}
.switch-btn {
  margin: 2em 5em 0 18em;
}
.github {
  color: white;
  height: 2em;
  width: 2em;
}
.linkedin {
  color: white;
  height: 2em;
  width: 2em;
}

.tech {
  font-size: 20px;
  font-weight: 100;
  margin-top: 1.5em;
}

@media (max-width: 1600px) {
  .info-section {
    margin: 6em 5em 0 10em;
  }
  .switch-btn {
    margin: 2em 5em 0 10em;
  }
}
@media (max-width: 1350px) {
  .info-section {
    margin: 3em 6em;
  }
  .switch-btn {
    margin: 2em 5em 0 6em;
  }
  .header {
    position: relative;
  }
}

@media (max-width: 550px) {
  .info-section {
    margin: 1em;
  }
  .switch-btn {
    margin: 1em;
  }
}
