.start {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section {
  font-family: "Josefin Sans";
  margin: 0em 12em 0 2em;
}
h2 {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  margin-top: 0.5em;
  place-self: center;
  color: white;
}
